body {
    font-family: Baskerville, serif:
    background-color: #f3f3f3;
    color: #333;
    text-align: center;
}

form {
    margin-top: 50px;
}
input, button {
    padding: 10px;
    margin: 5px;
}

img {
    border: 1px solid #ccc;
    border-radius: 8px;
}